<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<!--<head>-->
<!--    <meta charset="UTF-8"/> &lt;!&ndash; Note the closing '/' character &ndash;&gt;-->
<!--    <title>Create Event</title>-->
<!--</head>-->

<head th:replace="fragments::head"></head>

<body class ="container">

<h1> Create Event</h1>
<!--Using Fragment navigation template-->
<nav th:replace="fragments :: navigation"></nav>

<form method="post" action="/events/create">
    <div class = "form-group">
        <label>Name: 
            <input type="text" name= "eventName" class="form-control">
        </label>
    </div>
    <div class = "form-group">
        <input type="submit" value="Create Event" class="btn btn-success">
    </div>

</form>

</body>
</html>