<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">>
<head th:fragment = "head">
    <meta charset="UTF-8"/> <!-- Note the closing '/' character -->
    <title>Coding Events</title>

<!--    <script th:src="@{/script.js}"></script>-->
<!--    <link th:href="@{/styles.css}" rel="stylesheet">-->
    <link rel = "stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <script src = "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.ja"></script>
    <link rel = "stylesheet" th:href="@{/styles.css}">

</head>
<body class="container">

<header th:fragment ="header">
    <h1>All Events</h1>
    <table>
        <tr>
            <td> <a class="nav-link" href="/events">All Events</a> </td>
            <td> <a class="nav-link" href = "/events/create">Create Events</a></td>
            <td> <a class="nav-link" href = "/events/delete">Delete Events</a></td>
            <td> <a class="nav-link" href = "/eventCategories">All Categories</a></td>
            <td> <a class="nav-link" href = "/eventCategories/create">Create Categories</a></td>
        </tr>
    </table>
</header>

<div th:fragment = "address">
    LaunchCode Mentor Center, 4811 Delmar Blvd, St. Louis, MO 63110
</div>

</body>
</html>